:root {
    --font-os-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --icon-height: 64px;
    --icon-margin: 2px;
    --icon-padding: 4px;
}

:focus-visible {
    outline-color: var(--ls-link-text-color);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: var(--font-os-system);
    font-size: 13px;
    overflow: hidden;
    color: var(--ls-primary-text-color);
}

#app {
    width: 100vw;
    height: 100vh;
}

#app-inner {
    position: absolute;
    padding: 8px 0;
    background-color: var(--ls-primary-background-color);
    border: 1px solid var(--ls-border-color);
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}

#app-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px;
    opacity: 0.8;
    transition: 0.1s;
    cursor: pointer;
}
#app-close:hover {
    transform: scale(1.3);
    opacity: 1;
}

#icon-picker {
    margin: 4px 8px;
}

#icon-picker-search,
#icon-picker-category {
    width: 210px;
    height: 30px;
    margin: 2px 0 10px 2px;
    padding: 0 8px;
    font-family: var(--font-os-system);
    font-size: 14px;
    border: 1px solid var(--ls-border-color);
    border-radius: 4px;
    background-color: var(--ls-a-chosen-bg);
}

#icon-picker-category {
    width: 150px;
}

#icon-picker-category option {
    color: var(--ls-primary-text-color);
    background-color: var(--ls-primary-background-color);
}

#icon-picker-search:focus {
    outline: none;
}

#icon-picker-list-wrapper {
    width: 420px;
    height: calc((var(--icon-height) + var(--icon-margin) * 2 + var(--icon-padding) * 2 + 2px)* 4);
    overflow-y: auto;
}

.icon-item {
    float: left;
    margin: var(--icon-margin);
    padding: var(--icon-padding);
    width: 64px;
    height: var(--icon-height);
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--ls-border-color);
    background-color: var(--ls-primary-background-color);
}

#icon-picker-list[data-invoked-from="inplace"] .icon-item {
    height: unset;
    margin: 0;
    padding: 0;
}

.icon-glyph {
    margin: 2px auto;
    padding: 4px 0;
    width: 100%;
    font-family: 'tabler-icons';
    font-weight: 400;
    font-size: 24px;
    border-radius: 4px;
    user-select: auto;
    cursor: pointer;
    border: none;
    color: var(--ls-primary-text-color);
    background: transparent;
}
.icon-glyph:hover {
    background-color: var(--ls-a-chosen-bg);
}

#icon-picker-list[data-invoked-from="inplace"] .icon-glyph {
    margin: 0;
    padding: 8px 0;
}

.icon-code {
    display: inline-block;
    margin: 2px 0;
    padding: 2px 10px;
    border: 1px dotted var(--ls-border-color);
    user-select: auto;
    cursor: pointer;
    background: transparent;
    border: none;
    opacity: 0.3;
}
.icon-code:hover {
    opacity: 0.8;
}
#icon-picker-list[data-invoked-from="inplace"] .icon-code {
    display: none;
}
