@supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', 'tabler-icons', sans-serif;
    }
}
html:not(.is-native-android) {
    font-family: var(--ls-font-family),'tabler-icons',sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;
}

#taPi-toggle-icon {
    display: block;
    width: 21px;
    height: 21px;
    margin-top: 2px;
}

[data-pid="logseq-tabler-picker"] {
    z-index: 999 !important;
}
